<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//tablesorter.com/__jquery.tablesorter.min.js"></script>
	
	<title>Petit projet</title>
	
	<script>
		$(document).ready(function() {
			console.log("JS is ready!");
			
			$( "#twitterForm" ).submit(function( event ) {
				var screen_name = $("#screen_name").val();
				var sorting = $('input[name=sorting]:checked').val();
				getTimeline(screen_name, sorting);
				getScore(screen_name);
				event.preventDefault();
			});
		});
		
		var getScore = function(user_name){
			var api_url = "/api/user_score.json?screen_name=" + user_name;
			console.log(api_url);
			$.getJSON(api_url, function(json_data) {
				//formatting the user score
				$("#profile_score").html("Ranking score of " + json_data.score);
			});
		}
		
		var screenNameSubmited = function(user_name){
			$.ajax({
				url: "/api/user_timeline.json",
				data: { screen_name: user_name },
				type: "GET",
				dataType: "json",
				success: function( resp ) {
					console.log(resp);
					$("#twitterData").html( "<strong>" + resp + "</strong>" );
					$.each(resp, function(key, value) {
						console.log("aaa" + key + " : " + value);
					});
				}
			});
		};
		
		var getTimeline = function(user_name, sorting){
			var api_url = "/api/user_timeline.json?screen_name=" + user_name + "&sorting=" + sorting;
			console.log(api_url);
			$.getJSON(api_url, function(json_data) {
				//formatting the profile information
				$("#profile_image").html('<img src="' + json_data[0].user.profile_image_url + '" width="60" height="60"></img>');
				$("#profile_name").html(json_data[0].user.name);
				$("#profile_screen_name").html("@" + json_data[0].user.screen_name);
				$("#profile_location").html(json_data[0].user.location);
				$("#profile_followers_count").html("Followers : " + json_data[0].user.followers_count);
				$("#profile_description").html(json_data[0].user.description);
				
				//formatting the table for the tweets
				var tbl_head = "";
				var tbl_head_row = "";
				var tbl_body = "";
				var first_iteration = true;
				$.each(json_data, function() {
					var tbl_row = "";
					$.each(this, function (key, value) {
						if(key == "created_at" || key == "text" || key == "retweet_count") {
							if(first_iteration == true) {
								tbl_head_row += "<th>" + key + "</th>";
							}
							tbl_row += "<td>" + value + "</td>";
						}
					})
					tbl_body += "<tr>" + tbl_row + "</tr>";
					first_iteration = false;
				})
				tbl_head = "<tr>" + tbl_head_row + "</tr>";
				$("#target_table thead").html(tbl_head);
				$("#target_table tbody").html(tbl_body);
				$("#target_table").tablesorter();
			});
		};
		
	</script>
	
</head>

<body>
	<form id="twitterForm" method="GET">
		Twitter screen name: <input type="text" id="screen_name" name="screen_name"><br>
		Sorting option: <input type="radio" name="sorting" value="byDate" checked="checked">by Date <input type="radio" name="sorting" value="byRetweet">by Retweet<br/><br/>
		<input type="submit" value="Submit">
	</form>
	
	<p id="twitterData"></p>
	<p> ---------- </p>
	
	<div id="profile">
		<strong>
			<class id="profile_image"></class><br/>
			<class id="profile_name"></class><br/>
			<class id="profile_screen_name"></class><br/>
			<class id="profile_score"></class><br/>
			<class id="profile_location"></class><br/>
			<class id="profile_followers_count"></class><br/>
			<class id="profile_description"></class><br/>
		</strong>
		<table id="target_table" class="tablesorter">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</body>

</html>
