<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<title>Petit projet</title>
	
	<script>
		$(document).ready(function() {
			console.log("JS is ready!");
			
			$( "#twitterForm" ).submit(function( event ) {
				var screen_name = $("#screen_name").val();
				var sorting = $('input[name=sorting]:checked').val();
				var filtering = $('input[name=filtering]:checked').val();
				
				//reinitialize values
				$("#profile_score").html("Reputation score : ...wait...");
				$("#error_message").html("");
				
				//first api for timeline and profile info
				getTimeline(screen_name, sorting, filtering);
				
				//second api for retrieving the score
				getScore(screen_name);
				event.preventDefault();
			});
		});
		
		// call the score api and set the score value in the HTML DOM
		var getScore = function(user_name){
			var api_url = "/api/user_score.json?screen_name=" + user_name;
			console.log(api_url);
			$.getJSON(api_url, function(json_data) {
				//formatting the user score
				$("#profile_score").html("Reputation score : " + json_data.score + " pts." );
			});
		}
		
		// call the timeline api and set the profile and tweets infos
		var getTimeline = function(user_name, sorting, filtering){
			var api_url = "/api/user_timeline.json?screen_name=" + user_name + "&sorting=" + sorting + "&filtering=" + filtering;
			console.log(api_url);
			$.getJSON(api_url, function(json_data) {
				//formatting the profile information
				$("#profile_image").html('<img src="' + json_data[0].user.profile_image_url + '" width="60" height="60"></img>');
				$("#profile_name").html(json_data[0].user.name);
				$("#profile_screen_name").html("@" + json_data[0].user.screen_name);
				$("#profile_location").html(json_data[0].user.location);
				$("#profile_followers_count").html("Followers : " + json_data[0].user.followers_count);
				$("#profile_description").html(json_data[0].user.description);
				
				//formatting the table for the tweets
				var tbl_head = "";
				var tbl_head_row = "";
				var tbl_body = "";
				var has_media = false;
				var has_no_tweet = false;
				var first_iteration = true;
				$.each(json_data, function() {
					var tbl_row = "";
					$.each(this, function (key, value) {
						if(key == "created_at" || key == "text" || key == "retweet_count" || key == "entities") {
							if(first_iteration == true) {
								switch(key) {
									case "text": tbl_head_row += "<th>Tweet</th>"; break;
									case "created_at": tbl_head_row += "<th>Date</th>"; break;
									case "retweet_count": tbl_head_row += "<th>Retweet count</th>"; break;
									case "entities": tbl_head_row += "<th class=media>Media</th>"; break;
								}
							}
							
							if(key == "text" && value == "") {
								// we make sure the tweet contains a text, otherwise it is an empty timeline
								has_no_tweet = true;
							}
							
							if(key == "entities" && value.hasOwnProperty("media") && value.media[0].hasOwnProperty("media_url")) {
								// we check if the tweet contains a media
								tbl_row += "<td class=media> <img src=\"" + value.media[0].media_url + ":thumb\">";
								has_media = true;
							}
							
							if(key == "entities" && (! value.hasOwnProperty("media") || ! value.media[0].hasOwnProperty("media_url"))) {
								// ... should the tweet has no media, we fill in it an empty cell
								tbl_row += "<td class=media></td>";
							}
							
							if(key != "entities") {
								// we create a cell with the values matching the (selected above) keys
								tbl_row += "<td>" + value + "</td>";
							}
						}
					})
					tbl_body += "<tr>" + tbl_row + "</tr>";
					first_iteration = false;
				})
				
				if(has_no_tweet) {
					console.log("has no tweet");
					$("#target_table").hide();
					$("#error_message").html("No recent tweets matching your criteria...");
				} else {
					tbl_head = "<tr>" + tbl_head_row + "</tr>";
					$("#target_table thead").html(tbl_head);
					$("#target_table tbody").html(tbl_body);
					$("#target_table").show();
					if(! has_media) {
						$(".media").hide();
					}
				}
			});
		};
	</script>
	
</head>

<body>
	<form id="twitterForm" method="GET">
		Twitter screen name: <input type="text" id="screen_name" name="screen_name"><br>
		Sorting option: <input type="radio" name="sorting" value="byDate" checked="checked">by Date <input type="radio" name="sorting" value="byRetweet">by Retweet<br/>
		Filtering option: <input type="checkbox" name="filtering" value="photos">only with Photos<br/><br/>
		<input type="submit" value="Submit">
	</form>
	
	<p id="twitterData"></p>
	<p> ---------- </p>
	
	<div id="profile">
		<strong>
			<class id="profile_image"></class><br/>
			<class id="profile_name"></class><br/>
			<class id="profile_screen_name"></class><br/>
			<class id="profile_score"></class><br/>
			<class id="profile_location"></class><br/>
			<class id="profile_followers_count"></class><br/>
			<class id="profile_description"></class><br/>
		</strong>
		<class id="error_message"></class>
		<table id="target_table">
			<thead>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</body>

</html>
